@import "emojis";

//neat grid + bourbon
@import "vendors/bourbon/bourbon";
@import "variables/grid-settings";
@import "vendors/neat/neat";

//variables
@import "variables/base";
@import "variables/mixins";
@import "variables/colors";
@import "variables/functions/modular-scale";
@import "variables/functions/px-to-rem";

//elements
@import "elements/normalize";
@import "elements/reset";
@import "elements/layout";
@import "elements/forms";
@import "elements/fonts";
@import "elements/links";
@import "elements/lists";
@import "elements/headings";

//objects
@import "objects/patterns";
@import "objects/buttons";
@import "objects/media";
@import "objects/tabs";
@import "objects/side-menu";
@import "objects/rows";
@import "objects/comments";
@import "objects/menu";
@import "objects/preference";

//partials
@import "partials/layout";
@import "partials/header";
@import "partials/footer";
@import "partials/headings";
@import "partials/forms";
@import "partials/video";

//apps
@import "apps/topic";
@import "apps/profile";
@import "apps/topic_private";
@import "apps/user";



//flash messages

.messages {
  &.is-fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    max-width: $max-width;
    max-height: 100%;
    overflow-y: auto;
  }
}

%messages {
  display: flex;
  margin-bottom: $base-spacing-size;
  padding: $half-spacing-size;
}

.messages-info {
  @extend %messages;
  background: $light-blue;
}

.messages-error {
  @extend %messages;
  background: $light-red;
}

.messages-message {
  flex: 1 100%;
}

.messages-close {
  flex: 1 20px;
}

.messages-close-button {
  cursor: pointer;
}

.message-title {
  margin-bottom: $half-spacing-size;
  
  &.is-info {
    color: $dark-blue;
  }
  
  &.is-error {
    color: $red;
  }
}

//admin

.admin-tabs {
  @extend %tabs;
  margin-bottom: $base-spacing-size;
}

.statistics-box {
  @include span-columns(1);
  @include omega(4n);
  word-wrap: break-word;
  padding: $half-spacing-size 0;
  margin-bottom: $base-spacing-size;
  background: $lightest-grey;
}

.statistics-title {
  text-align: center;
}

.statistics-count {
  text-align: center;
}

.new-category {
  margin-bottom: $base-spacing-size;
  
  @include media( $medium ) {
	text-align: right;
  }
}
