.nav {
  @extend %inline-list;
  font-size: 14px;
  
  .fa {
    margin-left: $half-spacing-size;
  }
}

.comments {
  margin-bottom: $base-spacing-size;
}

.comment {
  @extend %row;
  
  &.is-highlighted {
    background: $yellow;
  }
}

.comment-media {
  @extend %media;
}

.comment-img {
  @extend %media-img;
  width: 50px;
  margin-right: $base-spacing-size;
}

.comment-body {
  @extend %media-body;
}

.comment-avatar {
  border-radius: 25px;
}

.comment-info {
  @extend %clearfix;
  font-size: 14px;
  margin-bottom: $half-spacing-size;
}

.comment-username {
  float: left;
}

.comment-date {
  @extend %inline-list;
  float: right;
}

.comment-realname {
  display: none;

  @include media( $medium ) {
    display: inline;
    margin-left: $half-spacing-size;
  }
}

.comment-text {
  blockquote {
    margin: 0;
    border-left: $light-grey 4px solid;
	padding-left: $base-spacing-size;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
	margin-left: 40px;
	margin-bottom: $base-line-height;
  }

  img {
    vertical-align: text-bottom;
  }

  ins {
    background-color: #EAFFEA;
    text-decoration: none;
  }

  del {
    background-color: #FFECEC;
    text-decoration: none;
  }
}

.comment-actions {
  @extend %inline-list;
  font-size: 14px;
  text-align: right;
}

.comment-removed {
  font-size: 14px;
  word-wrap: break-word;
}

.username {
  &.is-admin {
    background: $yellow;
  }
  
  &.is-mod {
    background: $light-blue;
  }
}

.paginator {
  @extend %inline-list;
  margin-bottom: $base-spacing-size;
  
  @include media( $medium ) {
    @include span-columns(4);
  }
}

.paginator-button {
  display: block;
  padding: ($base-spacing-size / 6) $half-spacing-size;
  border: $light-grey 1px solid;
}

.notify {
  margin-bottom: $base-spacing-size * 2;
  
  @include media( $medium ) {
    @include span-columns(4);
	text-align: right;
  }
}

.reply {
  padding: $half-spacing-size;
  
  textarea {
    height: $base-line-height * 4;
	margin-bottom: $half-spacing-size;
  }
}

.reply-markdown {
  @extend %inline-list;
  margin-bottom: $base-spacing-size;
  
  @include media( $medium ) {
    float: left;
  }
  
  li {
    margin-left: $base-spacing-size;
  }
}

ul.reply-markdown {
  /* reset */
  list-style: none;
  margin-left: 0;
}

.reply-button {
  @include media( $medium ) {
    float: right;
  }
}

.topic-publish-comment {
  textarea {
    height: $base-line-height * 10;
  }
}

.share {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9100;
  
  display: table;
  width: 100%;
  height: 100%;
  background: $white;
  background: rgba($white, 0.75);
  
  @include media( $medium ) {
    width: 300px;
    height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
    margin-left: -150px;
	padding: $base-spacing-size;
	border: $light-grey 1px solid;
  }
}

.share-close {
  float: right;
  margin-bottom: $base-spacing-size;
}

.share-box {
  display: table-cell;
  vertical-align: middle;
}

.share-url {
  margin-bottom: $half-spacing-size;
}

.share-actions {
  @extend %inline-list;
  text-align: right;
  
  li {
    margin-left: $base-spacing-size;
  }
}

.comment-poll {
  margin-bottom: $base-spacing-size;
}

.poll_title {
  margin-bottom: $base-line-height / 2;
}

.poll-choices {
  & ul {
    list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-line-height / 2;
  }

  & label {
    font-size: $base-font-size;
  }
}

.poll-choice {
  margin-bottom: $base-line-height / 2;
}

.choice-bar {
  height: 14px;
  background-color: $light-grey;
}

.poll-note {
  font-size: 14px;
  margin-bottom: $base-line-height / 2;
}

.poll-action {
  font-size: 14px;
  margin-left: $base-spacing-size / 4;

  &:first-child {
    margin-left: 0;
  }
}
